<%-include('../layouts/adminHeader') %>


            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>
                                    
                                    <!-- <a href="/admin/pdfdownload?day=<%= 7 %>" class="au-btn au-btn-icon au-btn--blue" download="">Download Report</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1" style="height: 250px;">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= total_users %></h2>
                                                <span>Users</span>
                                            </div>
                                        </div>
                                        <!-- <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2" style="height: 250px;">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= ordercount %></h2>
                                                <span>items Sold</span>
                                            </div>
                                        </div>
                                        <!-- <div class="overview-chart">
                                            <canvas id="widgetChart2"></canvas>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3" style="height: 250px;">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= total_products %></h2>
                                                <span>Available Products</span>
                                            </div>
                                        </div>
                                        <!-- <div class="overview-chart">
                                            <canvas id="widgetChart3"></canvas>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4" style="height: 250px;">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2>₹ <%= salesSum %></h2>
                                                <span>total earnings</span>
                                            </div>
                                        </div>
                                        <!-- <div class="overview-chart">
                                            <canvas id="widgetChart4"></canvas>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="justify-content: center; display: flex;">
                            <div class="col-12 col-lg-6">
                                <div class="au-card m-b-30">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 m-b-40">Bar chart</h3>
                                        <canvas id="barChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-5">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">char by %</h3>
                                        <div class="row no-gutters">
                                            <div class="col-xl-4">
                                                <div class="chart-note-wrap">
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--blue"></span>
                                                        <span>COD</span>
                                                    </div>
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--red"></span>
                                                        <span>ONLINE</span>
                                                    </div>
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--green"></span>
                                                        <span>WALLET</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-8">
                                                <div class="percent-chart">
                                                    <canvas id="percent-chart"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            
                        </div>
                        

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2023 Taj. All rights reserved. Template by <a href="">Taj</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        (function ($) {
        // USE STRICT
        "use strict";

        try {
            var ctx = document.getElementById("percent-chart");
            if (ctx) {
            ctx.height = 280;
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                datasets: [
                    {
                    label: "My First dataset",
                    data: ['<%= cods %>', '<%= cards %>', '<%= wallets %>'],
                    backgroundColor: [
                        '#00b5e9',
                        '#fa4251',
                        '#DFFF00'
                    ],
                    hoverBackgroundColor: [
                        '#00b5e9',
                        '#fa4251',
                        '#DFFF00'
                    ],
                    borderWidth: [
                        0, 0, 0
                    ],
                    hoverBorderColor: [
                        'transparent',
                        'transparent',
                        'transparent'
                    ]
                    }
                ],
                labels: [
                    'COD',
                    'Online',
                    'Wallet'
                ]
                },
                options: {
                maintainAspectRatio: false,
                responsive: true,
                cutoutPercentage: 55,
                animation: {
                    animateScale: true,
                    animateRotate: true
                },
                legend: {
                    display: false
                },
                tooltips: {
                    titleFontFamily: "Poppins",
                    xPadding: 15,
                    yPadding: 10,
                    caretPadding: 0,
                    bodyFontSize: 16
                }
                }
            });
            }

        } catch (error) {
            console.log(error);
        }

        
        
        try {
            //bar chart
            var ctx = document.getElementById("barChart");
            if (ctx) {
            ctx.height = 200;
            var myChart = new Chart(ctx, {
                type: 'bar',
                defaultFontFamily: 'Poppins',
                data: {
                labels: ["<%= dates[0] %>", "<%= dates[1] %>", "<%= dates[2] %>", "<%= dates[3] %>", "<%= dates[4] %>", "<%= dates[5] %>", "<%= dates[6] %>"],
                datasets: [
                    {
                    label: "Sales per day",
                    data: ['<%= sales[0] %>', '<%= sales[1] %>', '<%= sales[2] %>', '<%= sales[3] %>', '<%= sales[4] %>', '<%= sales[5] %>', '<%= sales[6] %>'],
                    borderColor: "rgba(0, 123, 255, 0.9)",
                    borderWidth: "0",
                    backgroundColor: "rgba(0, 123, 255, 0.5)",
                    fontFamily: "Poppins"
                    }
                ]
                },
                options: {
                legend: {
                    position: 'top',
                    labels: {
                    fontFamily: 'Poppins'
                    }

                },
                scales: {
                    xAxes: [{
                    ticks: {
                        fontFamily: "Poppins"

                    }
                    }],
                    yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontFamily: "Poppins"
                    }
                    }]
                }
                }
            });
            }


        } catch (error) {
            console.log(error);
        }



        })(jQuery);
    </script>


<%-include('../layouts/adminFooter') %>
