<%-include('../layouts/adminHeader') %>


            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row product">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Add Product</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post">
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label for="text-input" class=" form-control-label">Product Name</label>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <input type="text" id="text-input" name="product_name" placeholder="Text" class="form-control" value="<%= product.product_name %>">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label for="text-input" class=" form-control-label">Price</label>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <input type="number" step="any" id="text-input" name="product_price" placeholder="Text" class="form-control" value="<%= product.product_price %>">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label for="text-input" class=" form-control-label">Brand</label>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <input type="text" id="text-input" name="product_brand" value="<%= product.product_brand %>" placeholder="Text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label for="textarea-input" class=" form-control-label">Product Details</label><br>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <textarea name="product_discription" id="textarea-input" rows="9" placeholder="Content..." class="form-control"><%= product.product_discription %></textarea>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                              <div class="col col-md-5">
                                                  <label for="text-input" class=" form-control-label">Stock</label>
                                              </div>
                                              <div class="col-12 col-md-7">
                                                  <input type="number" id="text-input" name="product_stock" value="<%= product.product_stock %>" placeholder="Stock" class="form-control">
                                              </div>
                                          </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label for="select" class=" form-control-label">Category</label>
                                                </div>
                                                <div class="col-12 col-md-7">
                                                    <select name="product_category" id="select" class="form-control">
                                                        <option value="0" <% if (product.product_category === '0') { %>selected<% } %>>Please select</option>
                                                        <option value="men" <% if (product.product_category === 'men') { %>selected<% } %>>Men</option>
                                                        <option value="women" <% if (product.product_category === 'women') { %>selected<% } %>>Women</option>
                                                        <option value="bag" <% if (product.product_category === 'bag') { %>selected<% } %>>Bag</option>
                                                        <option value="shoes" <% if (product.product_category === 'shoes') { %>selected<% } %>>Shoes</option>
                                                        <option value="watches" <% if (product.product_category === 'watches') { %>selected<% } %>>Watches</option>
                                                      </select>                                                      
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5">
                                                    <label class=" form-control-label">Available Sizes</label>
                                                </div>
                                                <div class="col col-md-7">
                                                    <div class="form-check">
                                                        <div class="checkbox">
                                                          <label for="checkbox1" class="form-check-label">
                                                            <input type="checkbox" id="checkbox1" name="product_size" value="36" class="form-check-input" <% if (product.product_size.includes('36')) { %>checked<% } %>>36
                                                          </label>
                                                        </div>
                                                        <div class="checkbox">
                                                          <label for="checkbox2" class="form-check-label">
                                                            <input type="checkbox" id="checkbox2" name="product_size" value="38" class="form-check-input" <% if (product.product_size.includes('38')) { %>checked<% } %>>38
                                                          </label>
                                                        </div>
                                                        <div class="checkbox">
                                                          <label for="checkbox3" class="form-check-label">
                                                            <input type="checkbox" id="checkbox3" name="product_size" value="40" class="form-check-input" <% if (product.product_size.includes('40')) { %>checked<% } %>>40
                                                          </label>
                                                        </div>
                                                      </div>
                                                      
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal" data-mdb-whatever="@getbootstrap" >
                                                    Edit Image
                                                    </button>
                                            </div>
                                            <div class="col-12 col-md-7">
                                              <select class="form-control" name="product_offer" id="selectoffer" >
                                                <% if (offer && offer.length > 0) { %>
                                                  <% for (let i = 0; i < offer.length; i++) { %>
                                                    <script>
                                                      console.log('<%= offer[i].offer_amount %>');
                                                    </script>
                                                    <option value="<%= offer[i].offer_amount %>"><%= offer[i].offer_code %></option>
                                                  <% } %>
                                                  <% } else { %>
                                                  <tr>
                                                    <td colspan="5">Offer Not found</td>
                                                  </tr>
                                                  <% } %>
                                                </select>                                                      
                                          </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i> Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2023 Taj. All rights reserved. Template by <a href="">Taj</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="" id="exampleModalLabel">Change Image</h5>
              <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/edit_product_image" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                      <input type="hidden" name="productID" value="<%= product._id %>">
                      <label class="col-form-label">Product Image:</label>
                      <div class="row form-group">
                        <div class="col col-md-5">
                          <label for="file-input-1" class="form-control-label">Product Image 1</label>
                        </div>
                        <div class="col-12 col-md-7">
                          <input type="file" id="file-input-1" name="product_img" class="form-control-file">
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col col-md-5">
                          <label for="file-input-2" class="form-control-label">Product Image 2</label>
                        </div>
                        <div class="col-12 col-md-7">
                          <input type="file" id="file-input-2" name="product_img" class="form-control-file">
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col col-md-5">
                          <label for="file-input-3" class="form-control-label">Product Image 3</label>
                        </div>
                        <div class="col-12 col-md-7">
                          <input type="file" id="file-input-3" name="product_img" class="form-control-file">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" data-mdb-dismiss="modal">Send message</button>
                    </div>
                  </form>                  
          </div>
        </div>
      </div>
    </div>
                        
                        
<%-include('../layouts/adminFooter') %>
