<%-include('../layouts/adminHeader') %>


            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Address Details Details</h3>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Brand</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Status</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                    <%
                                    if(order){
                
                                        for(let i=order.product_details.length-1; i>=0; i--){
                                            const product=order.product_details[i]
                                            %>
                
                                        <tr>
                                            <tr class="tr-shadow">
                            
                                            <td class="header-cart-item-img">
                                                <img src="/admin/images/<%= product.product_img %>" alt="">
                                            </td>
                                            <td><%= product.product_name %></td>
                                            <td style="text-transform: uppercase;"><%= product.product_brand %></td>
                                            <td class="desc"><%= product.product_price %></td>
                                            <td><%= product.product_quantity %></td>
                                            <td class="text-danger"><%= product.product_status %></td>
                                            <td>
                                                <a href="/admin/orderaddress?addid=<%= product.addressId %>&&id=<%= order.customer_id %>"><span class="status--process">Address</span></a>
                                            </td>
                                            <% 
                                                if(product.product_status != 'Canceled' && product.product_status != 'Return' && product.product_status != 'Delivered' ){
                                                %>
                                                <td><button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal" data-product-id="<%= product._id %>" data-mdb-whatever="@getbootstrap" >
                                                Edit Status
                                                </button></td>
                                              <%
                                            }else{
                                            %>
                                                <td class="text-danger"><%= product.product_status %></td>
                                            <%
                                            }
                                        %>
                                            </tr>
                                        </tr>
                                        <tr class="spacer"></tr>
                                        <%
                                        }
                
                                    }
                                    else{
                                        %>
                                            <tr>
                                                <td colspan="5">Users Not found</td>
                                            </tr>
                                        <%
                                    }
                               
                               %>

                            <tr class="spacer"></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2023 Taj. All rights reserved. Template by <a href="">Taj</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal for Editting Status -->

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="" id="exampleModalLabel">Edit Status</h5>
                      <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="" method="post">
                        <div class="mb-3">
                            <input type="hidden" name="productID" id="productIDInput">
                          <label class="col-form-label">Status:</label>
                          <select class="form-control" name="product_status" id="select" >
                            <option value="Shipped">Shipped</option>
                            <option value="Rached Nearest Hub">Rached Nearest Hub</option>
                            <option value="Delivered">Delivered</option>
                          </select>
                        </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" data-mdb-dismiss="modal">Send message</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
               

<script>
    const exampleModal = document.getElementById('exampleModal');
    exampleModal.addEventListener('show.bs.modal', (event) => {
    // Button that triggered the modal
    const button = event.relatedTarget;
    // Extract info from data-mdb-* attributes
    const recipient = button.getAttribute('data-mdb-whatever');
    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    const productId = button.getAttribute('data-product-id');

    const productIDInput = exampleModal.querySelector('#productIDInput');
        productIDInput.value = productId
    //
    // Update the modal's content.
    const modalTitle = exampleModal.querySelector('.modal-title');
    const modalBodyInput = exampleModal.querySelector('.modal-body input');

    modalTitle.textContent = `New message to ${recipient}`;
    modalBodyInput.value = recipient;
    });

</script>

<%-include('../layouts/adminFooter') %>
