<%-include('../layouts/userHeader') %>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-80" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Order History
		</h2>
	</section>

<div class="">
    <section class="h-100 bg0 p-t-104" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
              <div class="card" style="border-radius: 10px;">
                <div class="card-header px-4 py-5">
                  <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #000000;"> <%= name %>  </span>!</h5>
                </div>
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0" style="color: #000000;">ORDERED</p>
                    <!-- <p class="small text-muted mb-0" style="text-transform: uppercase;">Receipt ID : <%= order._id %></p> -->
                  </div>
                  <%
                    if (order) {
                      for (let i = order.length - 1; i >= 0; i--) {
                    %>
                    <div class="card shadow-0 border mb-4">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4">
                            <a href="/producthistorydetail?prid=<%= order[i]._id %>" class="text-black fw-semibold"><%= order[i].product_details[0].product_name %> & Others</a>
                          </div>
                          <div class="col-md-4">
                            Products: <%= order[i].product_details.length %>
                          </div>
                          <div class="col-md-4">
                            ID: <%= order[i]._id %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%
                      }
                    } else {
                    %>
                    <tr>
                      <td colspan="5">Orders Not found</td>
                    </tr>
                    <%
                    }
                    %>
     
                  <div class="d-flex justify-content-between mb-5">
                    <!-- <p class="text-muted mb-0" style="text-transform: uppercase;">Recepits Voucher : <%= order._id %></p> -->
                    <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span>Amount Above 500 Free</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
  <%-include('../layouts/userFooter') %>

  <!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>